.video-container {
  width: 400px;
  height: 300px;
  padding: 20px;
  margin: 5% auto;

  border: 1px solid transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.18s ease-in-out;
  -moz-transition: all 0.18s ease-in-out;
  -ms-transition: all 0.18s ease-in-out;
}

.video-container:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  border: 1px solid #aaa;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
}

video {
  width: 400px;
  height: 300px;
}