body {
    font-family: 'Helvetica';
    font-size: 12px;
    background-color: #1A98CA;
}

body.no-js {
    background-color: #4CB5C5;
    background-image: 
        linear-gradient(#FFF 2px, rgba(0, 0, 0, 0) 2px), 
        linear-gradient(90deg, #FFF 2px, rgba(0, 0, 0, 0) 2px), 
        linear-gradient(rgba(255, 255, 255, .3) 1px, rgba(0, 0, 0, 0) 1px), 
        linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

body.no-js:hover { background-color: #1A98CA; }
::selection { color: black; }
label { 
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

#wrapper, #pg {
    width: 400px;
    position: relative;
    background: #fff;
}

#wrapper {
    height: 434px;
    margin: 10% auto 0;
    overflow: hidden;
}

#pg {
    height: 400px;
    text-align: center;
}

#pg > div {
    width: 320px;
    position: absolute;
    opacity: 0;
    left: 40px;
    top: 100px;
}

#pg:hover > div { opacity: 1; }

#options {
    width: 400px;
    height: 400px;
    opacity: 1;
    left: 400px;
    position: absolute;
    background: #2A19EB;
    z-index: 999;
}

#actions {
    width: 400px;
    height: 34px;
    background: #9C6;
    margin: 0 auto;
    cursor: pointer;
}

#actions > label {
    width: 50%;
    float: left;
    padding: 10px 0;
    text-align: center;
}

#actions > label:hover { background-color: #FC0; }

#pg > div, #options, #actions > label {
    -webkit-transition: all .12s ease-in-out;
    -moz-transition: all .12s ease-in-out;
}

input[type=checkbox] { display: none; }

#pg label {
    /* text-indent: -9999px is BAD !! */
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    /* text-indent: -9999px is BAD !! */

    display: inline;
    float: left;
}

/* Show hover */

label:hover { background-color: #F44; }

/* Trick */

input:checked + label { background-color: blue; }

#info-check:checked + #options {
    opacity: 1;
    left: 0;
}

.option-unit {
    width: 80%;
    margin: 0px auto;
    overflow: hidden;
}

.option-unit div, .option-unit label {
    width: 110px;
    padding: 20px;
    margin: 5px;
    float: left;
}

.option-unit .hero {
    width: 270px;
    background: #9C6;
    margin-top: 40px;
}

.option-unit label.orange { background: #F7A133; }
.option-unit label.blue { background: #60C9FA; }

/* Block Sizes */

.four-px {
    width: 4px;
    height: 4px;
}
.ten-px {
    width: 10px;
    height: 10px;
}
